# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Python
venv/
__pycache__/
*.py[cod]

# Machine learning
*.pkl
*.joblib

# Build files
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

coverage/

*.pyc
.venv/
venv/