.app-layout {
  min-height: 100vh;
  background: var(--bg-main);
}

.main-content {
  margin-left: var(--sidebar-width);

  padding-top: var(--navbar-height);

  min-height: 100vh;

  overflow-x: hidden;
}

@media (max-width: 700px) {
  .main-content {
    margin-left: 0;
  }

  .sidebar {
    display: none;
  }
}